<div class="grid grid-rows-3 gap-4">
    <div class="card bg-[#FBFBFB] flex flex-col justify-center py-8 px-12 rounded-3xl row-span-1">
        <div class="px-8">
            <img src="assets/img/logo.png" alt="Logo">

        </div>
        <h5 class="card-title flex justify-center font-bold text-[26px]">Fit Track</h5>
    </div>

    <div class="card bg-[#FBFBFB] row-span-2 p-4 py-6 rounded-3xl">
        <div class="font-semibold">USERS</div>
        <div class="menu my-4">
            <button class="card bg-[#2AAF74] text-white p-3 font-bold rounded-xl w-full">ALL</button>
            <div class="menu-item gap-4 my-2">
                <button class="card bg-[#FBFBFB] hover:bg-gray-200 text-gray-600 p-3 font-bold rounded-xl w-full">USER 1</button>
                <button class="card bg-[#FBFBFB] hover:bg-gray-200 text-gray-600 p-3 font-bold rounded-xl w-full">USER 1</button>
                <button class="card bg-[#FBFBFB] hover:bg-gray-200 text-gray-600 p-3 font-bold rounded-xl w-full">USER 1</button>
                <button class="card bg-[#FBFBFB] hover:bg-gray-200 text-gray-600 p-3 font-bold rounded-xl w-full">USER 1</button>
                <button class="card bg-[#FBFBFB] hover:bg-gray-200 text-gray-600 p-3 font-bold rounded-xl w-full">USER 1</button>

            </div>
        </div>
    </div>
</div>