<div *ngIf="(users$ | async)?.length === 0; else tableContent" class="no-data">
  No data available.
</div>

<ng-template #tableContent>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Workouts</th>
        <th>Total Workout Minutes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.name }}</td>
        <td>{{ user.workouts.length }}</td>
        <td>
          {{getTotalWorkoutMinutes(user.workouts)}}
        </td>
        <td>
          <button (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
